@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');
:root {
    --prim-color: #101969;
  }
  
  body {
    background: #f5f5f5;
    color: #2a2a2a;
    font-weight: 400;
    font-family: Inter, "Courier New", Courier, monospace;
  }

  .login-bg {
    background-image: url("../public/black.jpg");
    background-size: cover;
  }

  